.App {
  text-align: center;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color: gray;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

.header {
  text-align: left;
  margin-left: 0px;
}

.header-table {
  width: 100%;
}

.logo {
  display: inline-block;
}
  .logo h1 {
    font-family: 'Cardo', serif;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
    display: inline-block;
    margin: 0px;
  }

em {
  color: pink;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

em::before, em::after,
li::before, li::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
    opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
}

em.section-header {
  color:rgba(0, 0, 0, 0.7);
  text-align: left;
  font-size:25px;
  padding-left: 10px;
  padding: 5px;
}

.search-bar {
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
}

.search-input {
  border-radius: 1px;
  border: 1px solid #CFCBC8;
  text-decoration: none !important;
  padding: 6px 10px;
  width: 200px;
  height: 10px;
  background-color: #fafafa;
  color: gray;
}
  .search-input:focus {
    outline:0;
    color: black;
    background-color: white;
  }

.search-button {
  margin-top: 1.5px;
  width: 24px;
  height: 24px;
  background: url(http://www.iconsplace.com/icons/preview/pink/google-web-search-256.png) no-repeat scroll 0px -1px;
  background-size: 26px;
  margin-left: -6px;
  border-left: none;
  border-right: 1px solid #CFCBC8;
  border-top: 1px solid #CFCBC8;
  border-bottom: 1px solid #CFCBC8;
}

  .search-button:active {
    filter: brightness(0.95);
  }

  .search-button:focus {
    outline:0;
  }
  .search-button:hover {
    cursor: pointer; 
  }


.header-anon-links {
  float: right;
}

.account-header-link {
  color: pink;
  padding: 10px
}


.account-header-link-button {
  border: 1px dotted pink;
  border-radius: 5px;
}

.account-header-link:hover {
  cursor: pointer; 
  text-decoration-line: underline;
}

.account-header-link-button:active {
  background: #ff6699 !important;
}

.account-header-link-button:hover {
  background: #fafafa;
  text-decoration: none !important;
}

#navbarNav ul {
  width: 100%;
  left: 0;
  position: absolute;
  border: 1px solid #E1E3DF;
  border-left: 0;
  margin: 0px;
}

  #navbarNav li {
    width: 250px;
    display: inline-block;
    padding: 10px;
    text-decoration: none !important;
  }
  
  #navbarNav li:hover {
    cursor: pointer;
    padding-bottom: 6px;
    border-bottom: 4px solid pink;
  }

    #navbarNav li a {
      font-size: 15px;
      color: gray;
      font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
      text-decoration: none !important;
    }
  
/* Main Content Style*/
.content {
  margin-top: 50px;
  text-align: center;
}

/* Item Preview Style */
.item-container {
  display: inline-block;
  margin: 10px;
  width: 170px;
  border: 1px solid #CFCBC8; 
  border-radius: 4px;
  padding: 5px;
}

.item-preview-link {
  text-decoration: none;
  color: gray;
}
  .item-details p {
    margin: 0px;
  }
    .item-details p a {
      text-decoration: none;
      color: gray;
    }
      .item-details p a:hover {     
        color: pink;
      }

.item-price {
  color: black;
  font-weight: 600;
}

.item-title {
  color: black;
  font-weight: 600;
}
.item-shopName {
  font-size: 14px;
}

.item-display-image  {
  height: 170px;
}

  .item-display-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    top: 0;
    bottom: 0;
  }
    
  /* Carousel Style */
.carousel {
  height: 270px;
  position: relative;

  text-align: center;
  margin: auto;
  overflow: hidden;
}

.borders {
  border-top: 1px solid  #E1E3DF;
  border-bottom: 1px solid  #E1E3DF;
}

.carousel > div {
  margin: auto;
  overflow: auto;
}

.carousel-images {
  width: 1010px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.arrow-img {
  cursor: pointer;
  margin: 5px;
  margin: auto;
  top: 0; 
  bottom: 0;
  display: inline-block;
  height: 30px;
  position: absolute;
}

.left-arrow-img {
  transform: rotate(180deg);
  margin-left: -16px
}


.fade {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; 
}

.fade.show {
  opacity: 1;
  visibility: visible; 
}

.carousel-item-wrapper {
  display: inline-block;
}

.form-container{
  display: inline-block;
  width: 600px;
}

.text-label {
  float: right;
  color: black;
  margin-right: 12px;
  margin-bottom: -8px;
}

.text-input > input {
  width: 100%;
  height: 23px;
  margin-top: 5px;
  border: 0px;
  border-bottom: 1.3px solid #CFCBC8;  
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.text-input > input:focus {
  outline:0;
}


.user-form {
  display: inline-block;
  width: 400px;
  margin: 20px;
  padding-bottom: 20px;
}

table.formtable {
  width: 100%;
}

.text-field {
  width: 100%;
}

.label-col {
  width: 40%;
}

.input-col {
  width: 60%;
}

.profile-icon {
  height:25px;
}

.pink-text {
  color: pink;
}